
body {

    text-align: center; /* zarovnání textu na střed v části BODY */
    background-image: url("https://thumbnails-4.fotky-foto.cz/400/05/22/16/FotkyFoto_drevo-textury-pozadi_52216219.jpg")
}


.container {
    padding: 0 1rem;
    max-width: 100%;
    /*background-color: #96ff36;*/
    background-image:  url("http://cz.kronospan-express.com/public/thumbs/600x600/decors/kronodesign/standard/8431_600x600_crop_478b24840a.jpg")
}




table /* uprava tabulkek*/
{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

table th /* prace s tabulakmi Th (nadpisová část)*/
{
    background-color: #455286;
}


table td /* Prace s daty v tabulce*/ {
    background-color: #fbffff;
    text-align: left;
    border: 1px solid black;
    padding: 5px;
}

nav a /* Navigace stránky*/ {
    font-weight: 700;
    padding: 2rem 3rem;
    color: black;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Verdana, sans-serif;
}

/* nastavení pozadí u navigace když je aktivní, po kliknutí atd*/
nav a:hover {
    background-color: #c66603;
}
nav a:active{
    background-color: #c66603;
}
nav a:focus {
    background-color: #c66603;
}

/* K formulari tlacikta a ohraniceni v kontaktech*/

form button {
    background-color: white;
    color: #245e75;
    border: none;
    border-radius: 0.3rem;
    padding: 0.6rem 0.8rem;
}

form button + button {
    background-color: red; /* tlačítko smazat červeně*/
    color: white;
}
/* nastavení u poslání dotazu v kotaktech*/
form input,
form textarea {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 0.15rem solid rgb(5, 0, 255); /* modra barva kolem textovýho pole u kontaktu*/
    background-color: #fbffff;
    color: #000000;
    display: block;
    width: 95%;
}
/* uprava fotografii v galerii obrazku*/
#reference img {
    border: 1px solid #2f2eff;
    padding: 6px;
    margin-right: 6px;
    width: 350px;
    height: 225px;
}


/* 1 screens*/
@media only screen and (min-width: 46.063em) {
    nav a {
        display: inline-block;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

/* 2 screens*/

@media only screen and (max-width: 46.063em) {
    #zacatek img
    {
        width: 350px;
        height: 225px;
    }
    #mapka iframe
        {
    width: 400px;
    height: 275px;
        }
}
